bokeh==2.4.3
pandas==2.0.3
streamlit==1.38.0
numpy==1.24.4
rdkit==2023.9.1
openpyxl==3.1.5
streamlit-card==1.0.2
pybel==0.15.5
networkx
plotly==5.24.1
stqdm==0.0.5
chembl-webresource-client==0.10.9
umap==0.1.1
umap-learn==0.5.7
pandasgwas
